<h1>Genres</h1>

  <% @genres.each do |genre| %>
    <li><%= link_to genre.title, genre_path(genre) %></li>
  <% end %>
  <% if current_user %>
  <%= link_to "New Genre", new_genre_path %>
  <% end %>


<hr>
